<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.renkun.mnpic" >
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name=".dao.DataProvider"
            android:authorities="com.renkun.mnpic.provider"
            android:exported="false" />

        <activity
            android:name=".ui.activity.DetailsClassifyActivity"
            android:label="@string/title_activity_details_classify"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".ui.activity.PhotoDetailsActivity"
            android:label="@string/title_activity_photo_details"
            android:theme="@style/PhotoTheme" >
        </activity>
        <activity
            android:name=".ui.activity.SETActivity"
            android:label="@string/title_activity_set"
            android:theme="@style/SetTheme" >
        </activity>
        <activity android:name=".ui.activity.TgDetailsClassifyActivity"
                  android:label="tiangou_fenglei"
                  android:theme="@style/AppTheme"
                  />


        <meta-data
            android:name="BDAPPID"
            android:value="7196682"/>
        <meta-data
            android:name="BDAPPKEY"
            android:value="W25kv3YNB07D09PS2gF9FCdpxgbtdV4N"/>

        <!-- 移动云AppX SDK -->
        <activity android:name="com.baidu.appx.ui.BDInnerBrowser" />

        <receiver android:name="com.baidu.appx.app_download.CompleteReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <data android:scheme="package" />
                <!-- 注意！！ 这句必须要加，否则接收不到安装完成广播 -->
            </intent-filter>
        </receiver>

        <!-- 自动更新SDK -->
        <activity android:name="com.baidu.autoupdatesdk.ConfirmDialoigActivity"
                  android:screenOrientation="sensor"
                  android:exported="false"
                  android:theme="@style/bdp_update_dialog_style_fullscreen" />
        <receiver android:name="com.baidu.autoupdatesdk.receiver.BDBroadcastReceiver"
                  android:exported="false">
            <intent-filter>
                <action android:name="com.baidu.autoupdatesdk.ACTION_NEW_UPDATE"/>
                <action android:name="com.baidu.autoupdatesdk.ACTION_DOWNLOAD_COMPLETE"/>
                <action android:name="com.baidu.autoupdatesdk.ACTION_NEW_AS"/>
                <action android:name="com.baidu.autoupdatesdk.ACTION_AS_DOWNLOAD_COMPLETE"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
